html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(37 211 211 / 38%);
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
}

.navigation {
    margin: auto;
    text-align: center;
}

.darkTheme {
    background-color: darkcyan;
}