html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

body {
    background-color: rgba(34, 209, 209, 0.383);
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.darkTheme {
    background-color: darkcyan;
}