.navigation__list {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.navigation__listItem:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.navigation__links {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.navigation__links:hover {
    color: rgba(0, 0, 139, 0.671)
}

.navigation__links:active {
    color: rgba(0, 0, 139, 0.445)
}