.listStyle {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.listItem:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.navLinks {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.navLinks:hover {
    color: rgba(0, 0, 139, 0.671)
}

.navLinks:active {
    color: rgba(0, 0, 139, 0.445)
}