html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

.mainHeader {
    color: rgba(14, 13, 13, 0.835);
    text-align: center;
}

.mainHeader--hidden {
    display: none
}