.table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.table__cell {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
}

.table__caption {
    margin-bottom: 10px;
    font-weight: bold;
}

.table__cell--header {
    background-color: crimson;
    color: white;
}

.table__row:nth-child(even) {
    background: #eee;
}

.table__row:hover {
    background-color: #ddd;
}